<!doctype html>
<html ng-app="todoApp">
  <head>
    <link rel="shortcut icon" href="ui/todo.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="ui/todo.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet"> 
    <link rel="stylesheet" href="ui/todo.css">
   <title>
	ToDo List
   </title>
  </head>
  <body>
    <h2>Todo List</h2>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.save()">Save</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span id="item" class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="Add new todo here">
        <input class="btn-primary" type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
